.icon_button {
    border: none;
    color: black;
    /* padding: 15px 32px; */
    text-align: center;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 35px;
    width: 35px
}

.text_button {
    height: 25px;
    width: fit-content;
    display: flex;
    align-items: center;
    font-size: 15px;
    padding: 5px;
}

.blue {
    background-image: linear-gradient(-225deg, #22E1FF 0%, #1D8FE1 48%, #625EB1 100%);
}

.red {
    background-image: linear-gradient(to right, #aa0322 0%, #c90226 19%, #f1032f 60%, #ff254d 100%);
}

.green {
    background-image: linear-gradient(-60deg, #498102 0%, #6cbb04 100%);
}
