img {
    margin: auto;
}

.albumCover {
    border: 2px solid grey;
    width: 55%;
    
}

.album_container {
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.album_container h2 {
    margin: 20px 0 0 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.527);
    cursor: default;
    padding: 5px;
}

.album_container h3 {
    margin: 0 0 20px 0;
    text-align: center;
    background: rgba(255, 255, 255, 0.404);
    cursor: default;
    padding: 5px;
}